## Data preperation

### Imports

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

### Import dataframe

In [4]:
df = pd.read_csv(r'../Data/netflix_titles.csv', encoding='latin1')
df.sample(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
8484,s8485,Movie,The Rift: The Dark Side of the Moon,Dejan ZeÄeviÄ,"Ken Foree, Katarina Äas, Dragan MiÄanoviÄ, ...","Serbia, South Korea, Slovenia","February 26, 2018",2016,TV-MA,92 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4335,s4336,Movie,Chal Bhaag,Prakash Balwant Saini,"Deepak Dobriyal, Tarun Bajaj, Keeya Khanna, Va...",India,"December 1, 2018",2014,TV-14,110 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Nan

Upon examining the dataset for missing values, I identified numerous unnecessary columns that contain no values. These columns need to be removed. For the remaining columns, the presence of missing values is not a significant concern. The Llama 3 model used for the chatbot can fill in these missing values if necessary.

In [5]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
Unnamed: 12     8809
Unnamed: 13     8809
Unnamed: 14     8809
Unnamed: 15     8809
Unnamed: 16     8809
Unnamed: 17     8809
Unnamed: 18     8809
Unnamed: 19     8809
Unnamed: 20     8809
Unnamed: 21     8809
Unnamed: 22     8809
Unnamed: 23     8809
Unnamed: 24     8809
Unnamed: 25     8809
dtype: int64

Removing the unnessisary columns with no values

In [6]:
df.drop(['Unnamed: 12', 
         'Unnamed: 13', 
         'Unnamed: 14', 
         'Unnamed: 15', 
         'Unnamed: 16', 
         'Unnamed: 17', 
         'Unnamed: 18', 
         'Unnamed: 19', 
         'Unnamed: 20', 
         'Unnamed: 21', 
         'Unnamed: 22', 
         'Unnamed: 23', 
         'Unnamed: 24', 
         'Unnamed: 25'], 
         axis='columns', 
         inplace=True)
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

## Save

To use the prepared dataset, I store the dataset as the Data.csv file

In [7]:
df.to_csv('../Data/Data.csv')

In [8]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('../Data/Data.csv')

# Ensure the column containing text is named 'text'
documents = df['description'].tolist()

In [9]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('all-MiniLM-L6-v2')

# Convert documents to sentence embeddings
document_embeddings = model.encode(documents, show_progress_bar=True)

c:\Users\tijnd\anaconda3\envs\NLP\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\tijnd\anaconda3\envs\NLP\Lib\site-packages\huggingface_hub\file_download.py:157: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\tijnd\.cache\huggingface\hub\models--sentence-transformers--all-MiniLM-L6-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
c:\Users\tijnd\anaconda3\envs\NLP\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
c:\Users\tijnd\anaconda3\envs\NLP\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Batches: 100%|██████████| 276/276 [00:46<00:00,  5.96it/s]